<launch>
	<node name="recognizer_1" pkg="pocketsphinx" type="recognizer.py" output="screen">
		<param name="mic_name" default="alsa_input.usb-Logitech_Logitech_Wireless_Headset-00-Headset.analog-mono"/>
		<param name="lm" value="$(find pocketsphinx)/0.4/demo/robocup.lm"/>
		<param name="dict" value="$(find pocketsphinx)/0.4/demo/robocup.dic"/>
	</node>
</launch>
